
.employee_image{
  margin: 20px;
  width: 100px;
  border-radius: 50%;
}

.score-parts {
  margin: 5em;
  display: flex;
  flex-direction: column;
}

.score-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-progress-bar {
  height: 2em;
  margin-top: 2em;
}

.employee {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filler {
  flex: 1 1 auto;
}

.green {

}

.red {

}
