h1 {
  font-size: 4em;
}

.headline {
  font-size: 2em;
}

.hackathon-headline {
  text-align: center;
  color: white;

  img {
    height: 10em;
    display: inline-block;
  }
}

:host {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("/assets/background.png");
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
}
