table{
  width: 100%;
}

.image_column{
  width: 10%;
}

.clickable_table_row{
  cursor: pointer;
}

.table_font_size{
  font-size: 15px;
}

.employee_image{
  width: 80px;
  margin: 20px;
  border-radius: 50%;
}
