<mat-toolbar color="accent">
  <span>The list of all Zühlke Employees</span>
</mat-toolbar>

<mat-form-field style="margin-left: 20px;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Type something to search">
</mat-form-field>

  <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="table_font_size, image_column"></th>
      <td mat-cell *matCellDef="let employee" class="image_link">
        <img matListAvatar defaultImage="assets/demo.jpg" lazyLoad="/api/employee/{{employee.id}}/picture"
             alt="{{employee.firstName}} {{employee.lastName}}" class="employee_image" src="" (click)="goToEmployeePage(employee)">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="table_font_size">Name</th>
      <td mat-cell *matCellDef="let employee" class="table_font_size">
        {{employee.firstName}} {{employee.lastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="leavingPropability">
      <th mat-header-cell *matHeaderCellDef class="table_font_size">
        <mat-icon>directions_run</mat-icon> Leave Probability</th>
      <td mat-cell *matCellDef="let employee" class="leave_probability">
        <div *ngIf="calculateFlag[employee.code]">
          <mat-spinner></mat-spinner>
        </div>
        {{employee.leavingPropability | percent}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="table_font_size"> Actions </th>
      <td mat-cell *matCellDef="let employee" >
        <button type="button" mat-icon-button (click)="calculateProbability(employee)">
          <mat-icon class="icon">play_arrow</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let employee; columns:displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 20, 50, 100]" showFirstLastButtons></mat-paginator>

