<h2>A list of all Zühlke Employees</h2>

<mat-form-field>
  <input matInput [(ngModel)]="searchQuery" (blur)="search()" placeholder="Type something to search">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="datasource" >

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="table_font_size, image_column"></th>
      <td mat-cell *matCellDef="let employee">
        <img matListAvatar defaultImage="assets/demo.jpg" lazyLoad="/api/employee/{{employee.id}}/picture"
             alt="{{employee.firstName}} {{employee.lastName}}" class="employee_image" src="">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="table_font_size">Name</th>
      <td mat-cell *matCellDef="let employee" class="table_font_size">
        {{employee.firstName}} {{employee.lastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="leaveProbability">
      <th mat-header-cell *matHeaderCellDef>Leave Probability</th>
      <td mat-cell *matCellDef="let employee" class="table_font_size">{{employee.leaveProbability}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let employee; columns:displayedColumns" (click)="goToEmployeePage(employee)"
        class="clickable_table_row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
